<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Basic" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49893/StudentsService.svc/basic"
                binding="basicHttpBinding" bindingConfiguration="Basic" contract="StudentsService.IStudentsService"
                name="Basic" />
        </client>
    </system.serviceModel>
</configuration>