<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfAppForTask5.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="StudentsServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:63414/StudentsService.asmx"
                binding="basicHttpBinding" bindingConfiguration="StudentsServiceSoap"
                contract="StudentsService.StudentsServiceSoap" name="StudentsServiceSoap" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <WpfAppForTask5.Properties.Settings>
            <setting name="WpfAppForTask5_StudentsService_StudentsService"
                serializeAs="String">
                <value>http://localhost:63414/StudentsService.asmx</value>
            </setting>
        </WpfAppForTask5.Properties.Settings>
    </applicationSettings>
</configuration>